<div ng-controller="listingController">
	<div class="row">
		<div class="col-md-4">
			<button class="btn btn-default btn-lg" ng-click="gotoCreate()">Create</button>
		</div>
		<div class="col-md-8">
			<input type="text" placeholder="enter search term" ng-model="searchTerm" class="form-control" />
		</div>
	</div>
	<hr/>
	<br/>
	<div ng-repeat="item in hotels | filter : searchTerm | orderBy : 'rating' : true">
		<hotel-display hotel="item" desc-limit="20" up-vote="upVote(item)" down-vote="downVote(item)"></hotel-display>
	</div>

</div>